label {
    display: block;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
  }
  
  .login-root {
    display: flex;
    width: 100%;
    min-height: 60vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .form {
    background-color: rgba(0,0,0,0);
    padding: 20px 25px 30px;
    margin: 0px auto;
    margin-top: 50px;

  }
  .form-control{
    background-color: rgba(0,0,0,0.3);
  }
  .form-group{
    align-items: center;
    justify-content: center;
  }
  .field input{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: 2px solid transparent;
    border-radius: 50px;
    outline-color: rgba(253, 94, 83, 0.5);
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
  }
  .field input::after,
  .field input::before{
    border-radius: 3px;
  }
  .field input:focus{
    outline: solid rgba(253, 94, 83, 0.5) !important;
    border: 2px;
  }
  .login-button{
    position: relative;
    border: 2px solid transparent;
    margin-top: 12px;
    display: inline-flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    width: 100%;
    min-height: 34px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    
  }
  .login-button:hover{
    background-color: rgba(253, 94, 83, 0.7);
    box-shadow: none;
    transition: all 0.2s ease 0s;
  }
  .login-button:active{
    transform: translateY(3px);
  }

