<!--Root app component view-->

  <body [ngStyle]="style">
    <header>
      <div class="logo">
        <a href="/home" routerLink="home">Project-X</a>
      </div>
      <nav>
        <ul routerLinkActive="active">
          <ul *ngIf="!isLoggedIn">
            <li><a href="/login" routerLink="login">Login</a></li>
            <button><a href="/register" routerLink="register">Sign Up</a></button>
          </ul>

          <ul *ngIf="isLoggedIn">
            <li><a href="/profile" routerLink="profile">{{ username }}</a></li>
            <li><a (click)="logout()">Log out</a></li>
          </ul>
        </ul>
      </nav>
    </header>
    <div class="contentView">
      <router-outlet></router-outlet>
    </div>
  </body>

