
<div class="playerProfile" [innerHtml]="playerInfo">
    <!-- All profile pictures has to be of dimension 600x672, otherwise -->
    <!-- it'll break the layout -->
</div>
<div class="cashloc">
    <img class="cash" src="assets/coins.png" alt="N/A">
</div>
<div class="cashamount" [innerHtml]="playerCurrency">
</div>
<div class="itemContainer" id="itemContainer" [innerHtml]="htmlCards">
    <!-- All item pictures has to be of dimension 512x512, otherwise it'll -->
    <!-- break the layout -->
</div>
