<!-- Navbar component missing -->
<div class="playerProfile">
    <span>{{player.name}}</span>
    <img class="profilePic" src={{player.image}} alt="N/A">
    <!-- All profile pictures has to be of dimension 600x672, and all item-->
    <!-- pictures has to be of dimension 512x512, otherwise it'll -->
    <!-- break the layout -->
</div>
<div class="cashloc">
    <img class="cash" src="assets/coins.png" alt="N/A">
</div>
<div class="cashamount">
    <span>{{player.currency}}</span>
</div>
<div class="itemContainer" id="itemContainer">
    <div class="card" *ngFor="let item of items">
        <img class="cardcash" src="assets/coins.png" alt="N/A">
        <span class="price">{{item.price}}</span>
        <p class="itemName">{{item.name}}</p>
        <div class="buybutton" id="buybutton" *ngIf="player.currency >= item.price && noItem();else noBuy">
            <p class="buttonText" (click)="buyItem(item.price,item.id)">Buy</p>
        </div>
        <ng-template #noBuy>
            <div class="cantbuybutton">
                <p class="buttonText">Buy</p>
            </div>
        </ng-template>
        <div>
            <img class="item" src="{{item.image}}" alt="N/A">
        </div>
    </div>
    <!-- All item pictures has to be of dimension 512x512, otherwise it'll -->
    <!-- break the layout -->
</div>