<div class="title">
    <h1>Character Creation</h1>
    <div class="divo">
        <label class="infoText">Name</label><br>
        <input type="text" value="" id="textbox"><br>
    </div>
    <p>Select your character icon</p>
    <div class="card" *ngFor="let element of checkboxes; index as i">
        <img class="imageSize" src={{element.image}} alt="N/A"><br>
        <input type="radio" name="checkbox" (click)="isChecked(i)">
    </div>
    <div class="button" (click)="onSubmit()">
        <span>CREATE</span>
    </div>
</div>