.title{
    /* background-color: magenta; */
    text-align:center;
    user-select:none;
}

.imageSize{
    height: 90%;
    width: 90%;
    
}

.infoText{
    margin-left: -86%;
    font-weight: bold;
}

.divo{
    /* background-color: magenta; */
    width: 30%;
    margin:auto;
}

.textbox{
    height: 30px;
    width: 90%;
    margin-left: -5%;
}

.button{

    width: 10%;
    margin: auto;
    background-color: #40fa25;
    height: 15%;
    border-radius:10px;
    cursor:pointer;
    margin-top: 1.5%;
}

.button:active{
    transform:scale(0.98);
}

.card{
    /* background-color:red; */
    display:inline-block;
    width: 10%;
}