<div class="title">
    <h1>Character Creation</h1>
    <div class="divo">
        <label class="infoText">Name</label><br>
        <input type="text" value="" id="textbox"><br>
    </div>
    <p>Select your character icon</p>
    <div class="card">
        <img class="imageSize" src="assets/huey.jpg" alt="N/A"><br>
        <input type="radio" name="checkbox" (click)="isChecked(1)">
    </div>
    <div class="card">
        <img class="imageSize" src="assets/huey.jpg" alt="N/A"><br>
        <input type="radio" name="checkbox" (click)="isChecked(2)">
    </div>
    <div class="card">
        <img class="imageSize" src="assets/huey.jpg" alt="N/A"><br>
        <input type="radio" name="checkbox" (click)="isChecked(3)">
    </div>
    <div class="button" (click)="onSubmit()">
        <span>CREATE</span>
    </div>
</div>