<div class="title">
    <h1>Character Creation</h1>
<label>Name</label><br>
<input type="text"><br>
<p>Select your character icon</p>
<div class="card">
    <img class="imageSize" src="assets/huey.jpg" alt = "N/A"><br>
    <input type="checkbox">
</div>
<div class="card">
    <img class="imageSize" src="assets/huey.jpg" alt = "N/A"><br>
    <input type="checkbox">
</div>
<div class="card">
    <img class="imageSize" src="assets/huey.jpg" alt = "N/A"><br>
    <input type="checkbox">
</div>
<div class="button">
    <span>CREATE</span>
</div>
</div>
